In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('modern_teams.csv')
print(df.head())

         Atlanta Hawks
0       Boston Celtics
1        Brooklyn Nets
2    Charlotte Bobcats
3        Chicago Bulls
4  Cleveland Cavaliers

In [3]:
cities = ['Atlanta Hawks'] + df.squeeze().tolist()

cities = [x.split(' ')[0] for x in cities if 'New' not in x]

cities.remove('LA')

for i in range(len(cities)):
    if cities[i] == 'LA':
        cities[i] = 'Los Angeles'
    elif cities[i] == 'San':
        cities[i] = 'San Antonio'
    elif cities[i] == 'Golden':
        cities[i] = 'San Francisco'
        
        
cities += ['New Orleans','New York']

### Get city lat and long

In [4]:
# Get city Lat and Long
from geopy.geocoders import Nominatim

# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

lat = []
long = []
for city in cities:
    location = geolocator.geocode(city)
    lat.append(location.latitude)
    long.append(location.longitude)

### Manually input city's current conference

In [5]:
cons = [
    1, 1, 1, 1, 1, 1,
    0, 0,
    1,
    0, 0,
    1,
    0, 0,
    1, 1,
    0, 0,
    1, 1,
    0, 0, 0, 0,
    1,
    0,
    1,
    0,
    1
]

### Combine into DataFrame

In [6]:
df = pd.DataFrame()
df['City'] = cities
df['Latitude'] = lat
df['Longitude'] = long
df['Conference'] = cons

In [7]:
df

             City   Latitude   Longitude  Conference
0         Atlanta  33.748992  -84.390264           1
1          Boston  42.355433  -71.060511           1
2        Brooklyn  40.652601  -73.949721           1
3       Charlotte  35.227209  -80.843083           1
4         Chicago  41.875562  -87.624421           1
5       Cleveland  41.499657  -81.693677           1
6          Dallas  32.776272  -96.796856           0
7          Denver  39.739236 -104.984862           0
8         Detroit  42.331551  -83.046640           1
9   San Francisco  37.779026 -122.419906           0
10        Houston  29.758938  -95.367697           0
11        Indiana  40.327013  -86.174693           1
12    Los Angeles  34.053691 -118.242766           0
13        Memphis  35.146025  -90.051764           0
14          Miami  25.774173  -80.193620           1
15      Milwaukee  43.034993  -87.922497           1
16      Minnesota  45.989659  -94.611329           0
17       Oklahoma  34.955082  -97.268406           0
18        Orlando  28.542111  -81.379030           1
19   Philadelphia  39.952724  -75.163526           1
20        Phoenix  33.448437 -112.074141           0
21       Portland  45.520247 -122.674194           0
22     Sacramento  38.581061 -121.493895           0
23    San Antonio  29.424600  -98.495141           0
24        Toronto  43.653482  -79.383935           1
25           Utah  39.422519 -111.714358           0
26     Washington  38.895037  -77.036543           1
27    New Orleans  29.975998  -90.078213           0
28       New York  40.712728  -74.006015           1

In [8]:
df.to_csv('TeamLocations.csv')